---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from '../components/BlogPost.astro';
// すべてのmdファイルに関する情報を取得
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "Astro学習ブログ";
---

<BaseLayout pageTitle={pageTitle}>
  <p>ここには、私がAstroを学んでいく旅の様子を投稿します。</p>
  <ul>
  <!-- {allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)} -->
  <!-- 記事のタイトルとURLを使用して記事のリストをマップで動的に生成 -->
  {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
  </ul>
</BaseLayout>
